.first_wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
}