*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  /* overflow-x: hidden ; */
}

section{
  background: var(--bg-color);
  height: 100vh;
  scroll-snap-align: center;
}

:root{
  --main-color: #151417;
  --bg-color: #fff;
}
.dark{
  --main-color: #fff;
  --bg-color: #151417;
}

